import { Routes, Route, useLocation } from 'react-router-dom';
import Home from './pages/Home';

function Module() {
  const location = useLocation();

  // Get the base path for this module (e.g., /finance)
  const basePath = location.pathname.split('/')[1] || '';

  return (
    <div className="p-4">
      <Routes>
        <Route path="/" element={<Home />} />
        <Route path="*" element={<Home />} />
      </Routes>
    </div>
  );
}

export default Module;
